/* universal start */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
/* universal end */

/* global start */
.btn-primary{
    width: 115px;
    height: 50px;
    color: white;
    background: #ef6b07;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    font-size: 15px;
    border: none;
}
/* global end */

/* header section start */
.head{
    background-image: url(../images/banner1.png);
    background-size: cover;
    text-align: right;
    padding: 200px 150px;
}
.heading-title{
    font-size: 52px;
    font-weight: 700;
}
.heading-description{
   padding-left: 550px;
   padding-top: 15px;
   padding-bottom: 25px;
   font-size: 15px;
   color: #444343;
}
/* header section end */

/* main/failure section start */
.failure{
    display: flex;
    gap: 85px;
    margin-top: 100px;
    margin-left: 135px;
    margin-right: 130px;
    margin-bottom: 120px;
}
.main{
    margin: 200px 0px;
}
.title{
    font-size: 34px;
}
.failure-description{
    margin: 20px 0px;
    color: #444343;
    font-size: 15px;
}
.list{
    margin: 10px 0px;
    color: #444343;
    font-size: 15px;
    list-style: none;
}
.list i{
    margin-right: 10px;
}
/* main/failure section end */

/* plan section start */
.plans-title{
    text-align: center;
    font-size: 34px;
}
.content{
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 60px;
    margin-bottom: 110px;
}
.plan{
    text-align: center;
}
.plan-heading{
    margin: 12px 0px;
}
.plan p{
    color: #444343;
    font-size: 19px;
}
/* plan section end */

/* hobbies section start */
.hobbies-title{
    text-align: center;
    font-size: 34px;
}
.hobbies-content{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 60px;
    margin-bottom: 100px;
}
.hobby{
    width: 19%;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 2px 3px 8px 1px rgb(189, 185, 185);
  }
  .hobby:hover{
    box-shadow: -2px -3px 8px 1px rgb(189, 185, 185);
  }
  .hobby img{
    width: 180px;
    height: 180px;
  }
  .hobbies-heading{
    font-size: 20px;
    margin: 15px 0px;
  }
  .hobby p{
    font-size: 15px;
    color: #444343;
  }
  /* hobbies section end */

  /* linear gradient/call section start */
#grad {
    width: 1000px;
    height: 300px;
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),url(../images/watch.png);
    margin: 100px auto;
    border-radius: 8px;
}
.call-title{
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 500px;
    padding-bottom: 20px;
    font-weight: 800;
    font-size: 38px;
    color: white;
}
.second-btn{
    width: 120px;
    height: 50px;
    background-color: white;
    color: #ef6b07;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    font-size: 17px;
    border: none;
    margin-left: 50px;
}
/* linear gradient/call section end */

/* footer/info section start */
.footer{
    background-color: black;
    color: white;
}
.information{
    display: flex;
    gap: 350px;
    padding-left: 202px;
    padding-right: 202px;
    padding-top: 120px;
    padding-bottom: 100px;
}
.future-title{
    font-size: 40px;
}
.future-description{
    margin: 22px 0px;
}
.phone-info{
    margin: 17px 0px;
}
.my-socials{
    display: flex;
    gap: 15px;
    margin-top: 22px;
}
.subscribe-title{
    margin-bottom: 22px;
}
form input{
    width: 260px;
    height: 50px;
    color: white;
    background-color: black;
    border-radius: 7px;
    border: 2px solid white;
    padding: 0px 15px;
}
.subscribe-btn{
    width: 140px;
    height: 55px;
    background-color: white;
    color: #ef6b07;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    font-size: 17px;
    border: none;
    margin-top: 12px;
}
/* footer/info section end */
